main {
    margin-top: 120px;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

.titulo {
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
}

.titulo_1 {
    background: linear-gradient(90deg, rgba(255,59,255,1) 36%, rgba(236,191,191,1) 49%, rgba(92,36,255,1) 62%);
    -webkit-background-clip: text;
    color: transparent;  
}

.titulo_2 {
    margin-top: 10px;
}

.paragrafo {
    text-align: center;
    width: 500px;
    margin: 0 auto;
    margin-top: 15px;
    font-family: "Space Grotesk", sans-serif;
    
}

.btn{ 
    display: inline-block;
    padding: 13px;
    border-radius: 50px;
    border: 2px solid ;
    text-decoration: none;
    color: aliceblue;
    margin-left: 490px;
    margin-top: 20px;
    font-weight: bold; 
    border: linear-gradient(90deg, rgba(255,59,255,1) 36%, rgba(236,191,191,1) 49%, rgba(92,36,255,1) 62%);;
}

.btn:hover{
    border: 2px solid rgba(255,59,255,1);
    background: linear-gradient(black, transparent) padding-box, linear-gradient(to right, rgba(255,59,255,1), #0be6e6, rgba(92,36,255,1)) border-box;
    border-radius: 50px;
    border: 2px solid transparent;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.btn2 {
    margin-left: 9px;
}